@using Proton.Frequency.Common.Enums
@inherits LayoutComponentBase
@layout MainLayout

@code{

    private record Link(string Title, string Path, string? Icon, Permission Permission = Permission.STANDARD);

    private bool SideBar { get; set; } = true;

    readonly List<Link> _links = new()
    {
        new Link("Users", "settings/users", "fa-solid fa-users", Permission.ADMIN),
        new Link("Locations", "settings/locations", "fa-solid fa-location-dot"),
        new Link("Channels", "settings/channels", "fa-solid fa-road", Permission.ADMIN),
        new Link("Category", "settings/category", "fa-regular fa-object-group"),
        new Link("Terminals", "settings/terminals", "fa-solid fa-terminal", Permission.ADMIN),
        new Link("System", "settings/device", "fa-solid fa-server", Permission.SYSTEM),
        new Link("Logs", "settings/logs", "fa-regular fa-clipboard", Permission.SYSTEM),
        new Link("Reboot", "settings/reboot", "fa-solid fa-power-off", Permission.SYSTEM)
    };

}

<div class="row mt-1">
    @if (SideBar){
        <div class="col-1 d-flex flex-column flex-shrink-0" style="width: 210px;">
            <div class="list-group list-group-light list-group-small">
                @foreach (var link in _links){
                    <NavLink
                        Match="NavLinkMatch.All"
                        href="@link.Path"
                        class="list-group-item list-group-item-action py-2 px-3 border-0"
                        aria-current="true">
                        <span class="me-3">
                            <i class="@link.Icon"></i>
                        </span>
                        <span>@link.Title</span>
                    </NavLink>
                }
            </div>
        </div>
        <div class="vr vr-blurry" style="height: 65vh"></div>
    }
    <div class="col container-fluid">
        <div>
            <div class="row flex-fill mb-2">
                <div class="col-1">
                    <Button Size="Size.Small" Color="Color.Secondary" Outline Clicked="() => SideBar = !SideBar">
                        <i class="fa-solid fa-bars"></i>
                    </Button>
                </div>
                <div class="col">
                    <h4 class="text-secondary">Settings - Defaults</h4>
                </div>
            </div>
            @Body
        </div>
    </div>
</div>