@page "/settings"
@layout _Layout
@inject NavigationManager Navigate

<Title>Setting</Title>

@functions{
    override protected void OnInitialized() {
        Navigate.NavigateTo("settings/users");
    }
}

<div>...</div>
