@page "/settings"
@layout SectionLayout
@inject NavigationManager Navigate

<Title>System Setting</Title>

@functions{
        override protected void OnInitialized() {
            base.OnInitialized();
        }
}



<div>
    <p>System Content</p>
</div>
