@inherits LayoutComponentBase
@layout MainLayout

@{
    var links = new Dictionary<string, string>
    {
        {"System", "settings" },
        {"Terminal", "settings/terminal"},
        {"Admin", "settings/admin"},
        {"Server", "settings/server"},
        {"Logs", "settings/logs"},
        {"Reboot", "settings/reboot"}
    };
}

<div class="row mt-4">
    <div class="col-1 d-flex flex-column flex-shrink-0 mt-2 py-3 bg-light" style="width: 260px;">
        <ul class="nav nav-pills flex-column mb-auto">
            @foreach (var (key, value) in links) 
            {
                <li class="nav-item">
                    <NavLink href="@value" class="nav-link" Match="NavLinkMatch.All">@key</NavLink>
                </li>
            }
        </ul>
    </div>
    <div class="col-4 container-fluid">
        @Body
    </div>
</div>
