@page "/queue"

<Title>Queue</Title>


@code {
    DatePicker<DateTime?>? _datePicker;
}

<div class="card mt-1 px-1 pt-3">
    <div class="row px-2">
        <div class="col-4">
            <Addons>
                <Addon AddonType="AddonType.Body">
                    <DatePicker Placeholder="Select Range" @ref="@_datePicker" TValue="DateTime?" InputMode="DateInputMode.Date" SelectionMode="DateInputSelectionMode.Range" TimeAs24hr />
                </Addon>
                <Addon AddonType="AddonType.End">
                    <Button Color="Color.Secondary" Clicked="@(()=>_datePicker.ToggleAsync())">
                        <Icon Name="IconName.CalendarDay" />
                    </Button>
                </Addon>
            </Addons>
        </div>
        <div class="col d-inline-flex flex-nowrap justify-content-end">
            <button type="button" class="btn btn-secondary" href="#">
                <i class="fa-solid fa-rotate"></i>
            </button>
            <button type="button" class="btn btn-danger ms-2" href="#">
                <i class="fa-solid fa-trash"></i>
            </button>
        </div>
    </div>
    <div class="table-wrapper-scroll-y table-scroll mt-2 px-3">
        <table class="table table-sm table-hover table-responsive text-nowrap text-center align-middle">
            <thead>
            <tr class="text-black-50">
                <th scope="col">NAME</th>
                <th scope="col">NODE</th>
                <th scope="col">TYPE</th>
                <th scope="col">LOCATION</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>
                    <a type="button" class="btn btn-primary" href="#">
                        <i class="fas fa-ellipsis"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>
                    <a type="button" class="btn btn-primary" href="#">
                        <i class="fas fa-ellipsis"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <TableNavigation></TableNavigation>
</div>
