@code {

}

<nav aria-label="Table pagination">
    <ul class="pagination pagination-md justify-content-center">
        <li class="page-item disabled">
            <a class="page-link">
                <i class="fas fa-angle-left"></i>
            </a>
        </li>
        <li class="page-item active">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
            <a class="page-link">
                <i class="fas fa-angle-right"></i>
            </a>
        </li>
    </ul>
</nav>