@page "/status"

<Title>Overview</Title>

<div class="row pt-1  indigo lighten-4">
    <div class="col-sm">
        <div class="card dashboard">
            <DashboardCardHeader Title="System resources" Icon="fas fa-boxes-stacked" Color="dodgerblue" />
            <div class="card-body px-0 pb-2">
            <!-- Resource percentage section -->
            <div class="resource px-2 vstack gap-3">
                <ResourceBar Value="25" Icon="fas fa-microchip" Text="0.3MHZ" />
                <ResourceBar Value="45" Icon="fas fa-memory" Text="1.6G" />
                <ResourceBar Value="15" Icon="fas fa-hdd" Text="7.2GB free" />
            </div>
            <div class="text-center">
                <hr class="hr"/>
            </div>
            <!-- List text -->
            <ul class="list-group list-group-light list-group-small px-3 py-0 mt-0">
                <li class="list-group-item py-1 border-bottom hstack">
                    <div class="float-left me-4" style="width: 100px">Host Address</div>
                    <div class="text-secondary">192.168.77.213</div>
                </li>
                <li class="list-group-item py-1 border-bottom hstack">
                    <div class="float-left me-4" style="width: 100px">Up Time</div>
                    <div class="text-secondary"><span class="badge badge-primary rounded p-2">3</span> Hours</div>
                </li>
                <li class="list-group-item py-1 border-bottom hstack">
                    <div class="float-left me-4" style="width: 100px">Proxy</div>
                    <div class="text-secondary">Off</div>
                </li>
            </ul>
            <div class="hstack gap-3 rounded mx-2 mt-2 p-2" style="background-color: #ededed">
                <!-- Temperature Item -->
                <div class="text-secondary">
                    <span class="badge bg-primary rounded p-2">
                        <i class="fa-solid fa-temperature-low text-white"></i>
                    </span>
                    <span>56&deg;C</span>
                </div>
                <!-- Node counts -->
                <div class="text-secondary">
                    <span class="badge bg-success rounded p-2">
                        5
                    </span>
                    <span>Active Nodes</span>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card">
            <ul class="list-group border-0">
                <li class="list-group-item">Item One</li>
                <li class="list-group-item">Item Two</li>
                <li class="list-group-item">Item Three</li>
                @* <li class="list-group-item">Item Four</li> *@
            </ul>
        </div>
    </div>
    <div class="col-sm">
        One of three columns
    </div>
</div>
