@inherits LayoutComponentBase
@{
    var links = new Dictionary<string, string> {
        { "Overview", "app/status" },
        { "Logs", "app/logs" },
        { "Objects", "app/objects" },
        { "Event History", "app/events" },
        { "Nodes", "app/nodes" },
        { "Settings", "app/settings" }
    };
}

<div class="sticky-top container">
    <header class="d-flex flex-wrap justify-content-center py-1 mb-1 border-bottom clearfix">
        <a href="/" class="d-flex align-items-center mb-0 me-auto text-dark text-decoration-none">
            <span class="fs-4">Proton.Frequency</span>
        </a>
        <div class="hstack gap-4">
            <div class="hstack gap-4 status-items px-1">
                <span>
                    <i class="fa-solid fa-globe"></i>
                </span>
                <span>
                    <i class="fa-regular fa-bell">
                        <span class="badge rounded-pill badge-notification bg-danger">1</span>
                    </i>
                </span>
            </div>
            <button type="button" class="btn btn-secondary btn-lg">Sign Out</button>
        </div>
    </header>
    <div class="d-flex flex-wrap justify-content-center">
        <ul class="nav nav-pills nav-fill">
            @foreach (var (key, value) in links) {
                <li class="nav-item">
                    <NavLink href="@value" class="nav-link" Match="NavLinkMatch.Prefix">@key</NavLink>
                </li>
            }
        </ul>
    </div>
</div>
<div class="container px-4 py-1">
    @Body
</div>

<AppFooter></AppFooter>