@page "/"
@layout EmptyLayout
@inject NavigationManager Nav

<Title>Status</Title>

@functions{

    protected override void OnInitialized() {
        base.OnInitialized();
        Nav.NavigateTo("app/status");
    }

}

<div>...</div>