@page
@model IndexModel
@{
    // Layout = null;
    ViewData["Title"] = "Status";
}


 <div class="row pt-1  indigo lighten-4">
   <div class="col-sm">
     <div class="card">
       <div class="progress mx-3 my-4 rounded"  style="height: 20px;">
         <div class="progress-bar bg-warning" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
       </div>
       <ul class="list-group list-group-light list-group-small my-2 px-3">
         <li class="list-group-item py-2 border-bottom d-flex justify-content-between align-items-start">
           <div class="me-auto">
             <div class="fw-bold">Subheading</div>
             Item One
           </div>
           <span class="badge badge-primary rounded p-2">14</span>
         </li>
         @* <hr class="hr" /> *@
         <li class="list-group-item py-2 border-bottom">Item Two</li>
         @* <hr class="hr" /> *@
         <li class="list-group-item py-2">Item Three</li>
       </ul>
     </div>
   </div>
   <div class="col-sm">
     <div class="card">
      <ul class="list-group border-0">
        <li class="list-group-item">Item One</li>
        <li class="list-group-item">Item Two</li>
        <li class="list-group-item">Item Three</li>
      </ul>
     </div>
   </div>
   <div class="col-sm">
     One of three columns
   </div>
 </div>
