@using global::Frequency.Common.Enums
@inherits LayoutComponentBase
@layout MainLayout

@code{

    private record Link(string Title, string Path, string? Icon, Permission Permission = Permission.Standard);

    private bool SideBar { get; set; } = true;

    readonly List<Link> _links = new() {
        new Link("Users", "app/settings/users", "fa-solid fa-users", Permission.Admin),
        new Link("Locations", "app/settings/locations", "fa-solid fa-location-dot"),
        new Link("Channels", "app/settings/channels", "fa-solid fa-road", Permission.Admin),
        new Link("Category", "app/settings/category", "fa-regular fa-object-group"),
        new Link("Terminals", "app/settings/terminals", "fa-solid fa-terminal", Permission.Admin),
        new Link("System", "app/settings/device", "fa-solid fa-server", Permission.System),
        new Link("Services", "app/settings/services", "fa-solid fa-gears", Permission.System),
        new Link("Logs", "app/settings/logs", "fa-regular fa-clipboard", Permission.System),
        new Link("Reboot", "app/settings/reboot", "fa-solid fa-power-off", Permission.System)
    };

}

<div class="row mt-1">
    @if (SideBar) {
        <div class="col-1 d-flex flex-column flex-shrink-0" style="width: 210px;">
            <div class="list-group list-group-light list-group-small">
                @foreach (var link in _links) {
                    <NavLink
                        Match="NavLinkMatch.All"
                        href="@link.Path"
                        class="list-group-item list-group-item-action py-2 px-3 border-0"
                        aria-current="true">
                        <span>
                            <i style="width: 24px; height: 24px" class="@link.Icon"></i>
                        </span>
                        <span class="ms-3">@link.Title</span>
                    </NavLink>
                }
            </div>
        </div>
        <div class="vr vr-blurry" style="height: 65vh"></div>
    }
    <div class="col container-fluid">
        <div>
            <div class="row flex-fill mb-2">
                <div class="col-1">
                    <Button Size="Size.Small" Color="Color.Secondary" Outline Clicked="() => SideBar = !SideBar">
                        <i class="fa-solid fa-bars"></i>
                    </Button>
                </div>
                <div class="col">
                    <h4 class="text-secondary">Settings - Defaults</h4>
                </div>
            </div>
            @Body
        </div>
    </div>
</div>