@page "/app/settings"
@inject NavigationManager Navigate

<Title>Setting</Title>

@functions{
    override protected void OnInitialized() {
        Navigate.NavigateTo("app/settings/users");
    }
}

<div>...</div>
