@page
@model Proton.Frequency.Pages.Terminal.Index

@{
    ViewData["Title"] = "Terminal";
}

<div class="mt-5">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Identifier</th>
          <th scope="col">Node</th>
          <th scope="col">Last Updated</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>x</td>
          <td>x</td>
          <td>x</td>
          <td>x</td>
          <td>
            <button type="button" class="btn btn-primary"><i class="bi bi-pencil me-1"></i>Modify</button>
          </td>
        </tr>
        <tr>
          <td>x</td>
          <td>x</td>
          <td>x</td>
          <td>x</td>
          <td>
            <button type="button" class="btn btn-primary"><i class="bi bi-pencil me-1"></i>Modify</button>
          </td>
        </tr>
        <tr>
          <td>x</td>
          <td>x</td>
          <td>x</td>
          <td>x</td>
          <td>
            <button type="button" class="btn btn-primary"><i class="bi bi-pencil me-1"></i>Modify</button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
