:root {
  /** Colors variables */
  --color-primary: dodgerblue;
  --color-secondary: #6c757d;
  --color-grey: #7f7f7f;

  /** Typography variables */
  --text-heading-size: 1.3rem;
  --icon-loading-size: 1.4rem;
}

html {
  min-height: 100%;
  margin: 0px;

  body {
    font-weight: 300;
    font-family: 'Roboto', sans-serif, serif;
  }
}

@media (min-width: 768px) {
  html {
    margin: 0px;
  }
}

.table-scroll {
  width: 100%;
  height: calc(100vh - 320px);
}
