<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <base href="/"/>
    <title>Frequency</title>
    <link href="_content/Frequency.Components/favicon.png" rel="icon" type="image/png"/>
    <link href="_content/Frequency.Components/lib/roboto/latin.css" rel="stylesheet"/>
    <link href="_content/Frequency.Components/lib/font-awesome/css/all.min.css" rel="stylesheet"/>
    <link href="_content/Blazorise.Bootstrap5/blazorise.bootstrap5.css" rel="stylesheet"/>
    <link href="_content/Blazorise/blazorise.css" rel="stylesheet"/>
    <link href="_content/Frequency.Components/lib/mdb-ui-kit/mdb.min.css" rel="stylesheet"/>
    <link href="_content/Frequency.Components/css/app.css" rel="stylesheet"/>
    <link href="_content/Frequency.Components/css/main.css" rel="stylesheet"/>
    <link href="Frequency.styles.css" rel="stylesheet"/>
    <HeadOutlet/>
</head>

<body>
<ClientApp/>
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<script src="_framework/blazor.web.js" suppress-error="BL9992"></script>
<script src="_content/Frequency.Components/lib/mdb-ui-kit/mdb.min.js"></script>
<script src="_content/Frequency.Components/lib/Chart.js/chart.min.js"></script>
<script src="_content/Frequency.Components/js/site.min.js"></script>
</body>
</html>