@page "/nodes"

<PageTitle>Nodes</PageTitle>

<div class="card mt-1 px-1 pt-3">
  <div class="row px-2">
    <div class="col">
      <div class="input-group">
        <div class="form-outline">
          <input type="search" style="width: 300px" id="form1" class="form-control"/>
          <label class="form-label" for="form1">Search</label>
        </div>
        <button type="button" class="btn btn-primary ms-1">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
    <div class="col d-inline-flex flex-nowrap justify-content-end">
      <select class="form-select" style="max-width: 200px" aria-label="Terminal State">
        <option value="0" selected>Active</option>
        <option value="1">Disabled</option>
        <option value="2">Archived</option>
      </select>
      <button type="button" class="btn btn-success ms-2"><i class="fas fa-plus"></i></button>
    </div>
  </div>
  <div class="table-wrapper-scroll-y table-scroll mt-2 px-3">
    <table class="table table-sm table-hover table-responsive text-nowrap text-center align-middle">
      <thead>
      <tr class="text-black-50">
        <th scope="col">NAME</th>
        <th scope="col">STATUS</th>
        <th scope="col">TERMINAL</th>
        <th scope="col">LAST UPDATED</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>x</td>
        <td><span class="badge bg-success badge-dot"></span></td>
        <td>x</td>
        <td>x</td>
        <td>
          <span>
            <button type="button" class="btn btn-warning me-2"><i class="fas fa-pen"></i></button>
            <button type="button" class="btn btn-primary"><i class="fas fa-ellipsis"></i></button>
          </span>
        </td>
      </tr>
      <tr>
        <td>x</td>
        <td><span class="badge bg-danger badge-dot"></span></td>
        <td>x</td>
        <td>x</td>
        <td>
          <span>
            <button type="button" class="btn btn-warning me-2"><i class="fas fa-pen"></i></button>
            <button type="button" class="btn btn-primary"><i class="fa-solid fa-ellipsis"></i></button>
          </span>
        </td>
      </tr>
      <tr>
        <td>x</td>
        <td><span class="badge bg-success badge-dot"></span></td>
        <td>x</td>
        <td>x</td>
        <td>
          <span>
            <button type="button" class="btn btn-warning me-2"><i class="fas fa-pen"></i></button>
            <button type="button" class="btn btn-primary"><i class="fas fa-ellipsis"></i></button>
          </span>
        </td>
      </tr>
      </tbody>
    </table>
    </div>
  <nav aria-label="Table pagination">
    <ul class="pagination pagination-md justify-content-center">
      <li class="page-item disabled"><a class="page-link"><i class="fas fa-angle-left"></i></a></li>
      <li class="page-item active"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link"><i class="fas fa-angle-right"></i></a></li>
    </ul>
  </nav>
</div>
