<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    </configSections>
    
  
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
    autoReload="true"
    throwExceptions="false"
    internalLogLevel="true">

    <!-- enable asp.net core layout renderers -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <!-- optional, add some variables
    https://github.com/nlog/NLog/wiki/Configuration-file#variables
    -->
    <variable name="LogDirectory" value="${BaseDir:FixTempDir=true}/logs"/>
    <targets async="true">
    <target name="console" xsi:type="Console" layout="${level}: ${longdate} | ${message}"/>
    <target name="file"
       xsi:type="File"
       fileName="${LogDirectory}/current.log"
       archiveFileName="${LogDirectory}/archive.${shortdate}.log"
       archiveEvery="Day"
       archiveNumbering="Rolling"
       maxArchiveFiles="14"
       concurrentWrites="true"
       keepFileOpen="false"
       createDirs="true"
       layout="${longdate} => ${level}: ${message} |-> ${onexception:${newline}${exception:format=tostring}}"/>
    </targets>

    <rules>
        <logger name="All" minlevel="Trace" writeTo="console,file" />
        <logger name="ConsoleOnly" minlevel="Trace" writeTo="console" />
        <!--Skip non-critical Microsoft logs and so log only own logs-->
        <logger name="Microsoft.*" maxlevel="Info" final="true" />
    </rules>
    </nlog>
</configuration>
