@page "/objects"
@page "/objects/ObjectId:Guid"
@using global::Frequency.Common.Enums
@inherits LayoutComponentBase
@layout MainLayout

<Title>Objects</Title>

@code {

    [Parameter]
    [SupplyParameterFromQuery(Name = "id")]
    public Guid? ObjectId { get; set; }

    private record ObjectList(string Name, DateTime Time, ObjectType Type = ObjectType.Unknown, EventType Event = EventType.Left, string Location = "[New Site] Logbara, Ogun", string Node = "Gate-01");

    private readonly List<ObjectList> _objects = new() {
        new ObjectList("AAA 767 XH", DateTime.Now, ObjectType.Unknown, EventType.Entered, "Eric Moore"),
        new ObjectList("KJA 907 XE", DateTime.Now),
        new ObjectList("KTU 205 XC", DateTime.Now, ObjectType.Unknown, EventType.Docked, "Lagos Gate 01"),
        new ObjectList("GGE 454 XF", DateTime.Now, ObjectType.Unknown, EventType.Parked)
    };

}

@Body
<div class="row">
    <div class="col-5">
        <Card Style="height: calc(100vh - 220px)">
            <CardBody Class="p-2">
                <div class="input-group">
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon"/>
                    <button type="button" class="btn btn-secondary rounded ms-1">
                        <i class="fa-solid fa-sliders"></i>
                    </button>
                    <a type="button" class="btn btn-success rounded ms-1" href="/objects/create">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                </div>
                <div>
                    <ListGroup Class="pt-3" Flush>
                        <!-- Start object item -->
                        @foreach (var item in _objects) {
                            <ListGroupItem Class="px-2 rounded list-group-item list-group-item-action">
                                <Div Flex="Flex.JustifyContent.Between" Width="Width.Is100">
                                    <Heading Size="HeadingSize.Is6" Class="mb-1 hstack text-nowrap">
                                        <span style="width: 110px" class="text-secondary text-nowrap text-uppercase text-nowrap">@item.Name</span>
                                        <Badge Style="width: 85px" Color="Color.Info" class="ms-4 p-1 bg-secondary text-white text-nowrap text-uppercase">
                                            <i class="fa-solid fa-torii-gate ms-2"></i>
                                            <span>@item.Node</span>
                                        </Badge>
                                    </Heading>
                                    <Small Class="hstack" TextColor="TextColor.Secondary">
                                        <span class="badge bg-success badge-dot"></span>
                                        <span class="ms-3">3 days ago</span>
                                    </Small>
                                </Div>
                                <Paragraph Class="mb-1 hstack">
                                    <span class="me-2">
                                        <i class="fa-solid fa-location-crosshairs" style="font-size: 1.1rem"></i>
                                    </span>
                                    <span>@item.Location</span>
                                </Paragraph>
                                <Small Class="hstack" TextColor="TextColor.Secondary">
                                    <span>
                                        <i class="fa-solid fa-truck-moving me-2"></i>
                                        <span>@item.Type</span>
                                    </span>
                                    <span>
                                        <i class="fa-solid fa-vr-cardboard ms-2"></i>
                                        <span>EPC Gen-2</span>
                                    </span>
                                </Small>
                            </ListGroupItem>
                        }
                    </ListGroup>
                </div>
            </CardBody>
        </Card>
    </div>
    <div class="col-7">
        <Card Style="height: calc(100vh - 220px)">
            <CardHeader Class="clearfix">
                <div class="float-start">
                    <span>Details</span>
                </div>
                <div class="float-end">
                    <Button Color="Color.Secondary">
                        <Icon Name="IconName.PaperPlane"></Icon>
                        <span class="ms-1">Command</span>
                    </Button>
                    <Button Color="Color.Warning" class="ms-2">
                        <Icon Name="IconName.Pen"></Icon>
                    </Button>
                </div>
            </CardHeader>
            <CardBody>
                @if (ObjectId == null) {
                    <div class="p-2 text-center">
                        <img src="_content/Frequency.Components/images/no-data.svg" style="height: 240px" alt="No Data"/>
                    </div>
                }
                else {
                    <Detail ObjectId="ObjectId"/>
                }
            </CardBody>
        </Card>
    </div>
</div>