<?xml version="1.0" encoding="utf-8" ?>
<!--<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
    
</configuration>-->

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="false" internalLogFile="nlog.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>
  <variable name="logDirectory" value="logs/${shortdate}"/>
  <targets async="true">
        <target name="console" xsi:type="Console" layout="${level}: ${longdate} | ${message}"/>
        <target name="file" xsi:type="File" fileName="${logDirectory}/app.log" layout="${level}: ${longdate} | ${message} | ${logger} | ${onexception:${newline}${exception:format=tostring}}"/>
  </targets>

  <rules>
        <logger name="*" minlevel="Debug" writeTo="console" />
        <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>
</nlog>