@page "/"
@layout EmptyLayout
@inject NavigationManager Navigate

<Title>Status</Title>

@functions{
        private const string StatusPage = "status";
        override protected void OnInitialized() {
            base.OnInitialized();
            Navigate.NavigateTo(StatusPage);
        }
}

<div>...</div>
