@page "/"
@layout EmptyLayout
@inject NavigationManager Nav

<Title>Status</Title>

@functions{
        override protected void OnInitialized() {
            base.OnInitialized();
            Nav.NavigateTo("app/status");
        }
}

<div>...</div>
