@inject NavigationManager Nav

@code {

}

<div class="d-flex flex-column text-center p-2">
    <div class="p-1">
        <img src="images/not-found.svg" style="height: 46vh" alt="404-error"/>
    </div>
    <div class="display-6 my-4 text-secondary">You've found a page that doesn't exist</div>
    <div class="mt-5">
        <Button class="btn btn-lg" Color="Color.Secondary" Size="Size.ExtraLarge" Style="width: 185px; padding: 10px 10px" Clicked='() => Nav.NavigateTo("/")'>Back to home</Button>
    </div>
</div>