@page "/"
@using Frequency.Client
@using Microsoft.AspNetCore.Components.Web
@namespace Frequency.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
    <base href="/"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link href="manifest.json" rel="manifest"/>
  <title>Frequency</title>
  <link href="_content/Frequency.Components/favicon.png" rel="icon" type="image/png"/>
  <link href="_content/Frequency.Components/lib/roboto/latin.css" rel="stylesheet"/>
  <link href="_content/Frequency.Components/lib/font-awesome/css/all.min.css" rel="stylesheet"/>
  <link href="_content/Blazorise.Bootstrap5/blazorise.bootstrap5.css" rel="stylesheet"/>
  <link href="_content/Blazorise/blazorise.css" rel="stylesheet"/>
  <link href="_content/Frequency.Components/lib/mdb-ui-kit/mdb.min.css" rel="stylesheet"/>
  <link href="_content/Frequency.Components/css/app.css" rel="stylesheet"/>
  <link href="_content/Frequency.Components/css/main.css" rel="stylesheet"/>
  <link href="Frequency.Client.styles.css" rel="stylesheet"/>
  <component type="typeof(HeadOutlet)" render-mode="WebAssemblyPrerendered"/>
</head>
<body>
<component type="typeof(App)" render-mode="WebAssemblyPrerendered" />

<div id="blazor-error-ui">
  <environment include="Staging,Production">
    An error has occurred. This application may no longer respond until reloaded.
  </environment>
  <environment include="Development">
    An unhandled exception has occurred. See browser dev tools for details.
  </environment>
  <a href="" class="reload">Reload</a>
  <a class="dismiss">🗙</a>
</div>

<script src="_framework/blazor.webassembly.js"></script>
<script src="_content/Frequency.Components/lib/mdb-ui-kit/mdb.min.js"></script>
<script src="_content/Frequency.Components/lib/Chart.js/chart.min.js"></script>
<script src="_content/Frequency.Components/js/site.min.js"></script>
<script>navigator.serviceWorker.register('service-worker.js');</script>
</body>
</html>
